<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button">&#9776;</button>
        <a style="background-size: 50px auto;" class="navbar-brand" ui-sref="app.main"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a style="margin-top: 30%;" class="nav-link navbar-toggler layout-toggler" href="#">&#9776;</a>
                <!-- <a class="nav-link navbar-toggler layout-toggler" href="#">&#9776;</a> -->
                <!-- <a style="margin-top: 15px" class="nav-link navbar-toggler layout-toggler" href="#">&#9776;</a> -->
            </li>
            <li class="nav-item p-x-1">
                <a class="nav-link" ui-sref="app.main">Dashboard</a>
            </li>
            <li class="nav-item p-x-1">
                <a class="nav-link" ui-sref="app.main"</a>
            </li>
            <li class="nav-item p-x-1">
                <a class="nav-link" ui-sref="app.main"</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right hidden-md-down">
            <li class="nav-item">
                <a class="nav-link" ui-sref="appSimple.login"><i class="icon-logout"></i>&nbsp;&nbsp;&nbsp;Logout</a>
            </li>
            <li class="nav-item">
            </li>
        </ul>
    </div>
</header>