<div id="fondo_log" class="container">
    <div class="row">
        <div vamiddle class="col-md-8 m-x-auto pull-xs-none">
            <div class="card-group">
                <div class="card p-a-2">
                    <div class="card-block">
                        <h1>Login</h1>
                        <p class="text-muted">Sign In to your account</p>
                        <div class="input-group m-b-1">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" placeholder="Username" ng-model="userInfo.login">
                        </div>
                        <div class="input-group m-b-2">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" placeholder="Password" ng-model="userInfo.password">
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary p-x-2" ng-click="login()">Login</button>
                            </div>
                            <div class="col-xs-6 text-xs-right">
                                <button type="button" class="btn btn-success p-x-2" ui-sref="appSimple.register">Register</button>
                                <!-- <button type="button" class="btn btn-link p-x-0" ui-sref="appSimple.register">Register an account</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-inverse card-primary p-y-3">
                    <div class="card-block text-xs-center">
                        <div>
                            <img src="../img/coreui-logotyp.png">
                            <!-- <h2>Sign up</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button type="button" class="btn btn-primary active m-t-1">Register Now!</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>